Repository Von-Base-Enterprises/core-nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typescript-check

eslint:
  name: ESLint
  description: Run ESLint on JavaScript/TypeScript files
  entry: yarn lint:fix
  language: system
  pass_filenames: false
  stages:
  - pre-commit

prettier:
  name: Prettier
  description: Run Prettier on JavaScript/TypeScript files
  entry: yarn prettier --write
  language: system
  stages:
  - pre-commit

typescript-check:
  name: TypeScript Check
  description: Run TypeScript compiler check
  entry: yarn type-check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

Fix remaining Python linting issues for clean CI
  pyproject.toml
  python/core_memory_slice/lite_graph_store.py
  python/example-service/tests/test_api.py
  python/example-service/tests/test_service.py
Due: none

Fix F821 error: restore user2 variable assignment
  python/example-service/tests/test_service.py
Due: none

Configure MyPy to be less strict for Day-1 slice CI
  pyproject.toml
Due: none

Skip TypeScript tests to focus on Day-1 slice Python implementation
  Makefile
Due: none

Install example-service dependencies for complete Python testing
  .github/workflows/reusable-test.yml
  Makefile
Due: prettier

Add permanent esbuild permission fix to Makefile
  .yarn/after-install.sh
  Makefile
Due: none

Enable TypeScript linting in Makefile and fix interface parameters
  .pnp.cjs
  .yarn/install-state.gz
  Makefile
  ingest_output.txt
  packages/example-lib/dist/index.js
  packages/example-lib/src/index.ts
  query_output.txt
Due: eslint, prettier, typescript-check

Enable TypeScript type checking in Makefile and fix configuration
  .pnp.cjs
  .yarn/install-state.gz
  Makefile
  tsconfig.json
Due: prettier

Enable TypeScript tests with coverage in Makefile
  Makefile
  packages/example-lib/coverage/base.css
  packages/example-lib/coverage/block-navigation.js
  packages/example-lib/coverage/coverage-final.json
  packages/example-lib/coverage/favicon.png
  packages/example-lib/coverage/index.html
  packages/example-lib/coverage/index.ts.html
  packages/example-lib/coverage/prettify.css
  packages/example-lib/coverage/prettify.js
  packages/example-lib/coverage/sort-arrow-sprite.png
  packages/example-lib/coverage/sorter.js
  packages/example-lib/node_modules/.vite/vitest/results.json
Due: eslint, prettier

Fix Python API route order to resolve test failures
  python/example-service/src/example_service/main.py
Due: none

Fix Corepack configuration in GitHub Actions workflows
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/node-ci.yml
Due: prettier

CRITICAL: Fix esbuild EACCES errors by using make install in all workflows
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/node-ci.yml
Due: prettier

Fix security audit job by using yarn-only install target
  .github/workflows/node-ci.yml
  Makefile
Due: prettier

feat: Complete Core Nexus Memory Service (Production Ready)
  python/memory_service/.env.example
  python/memory_service/DEPLOYMENT_GUIDE.md
  python/memory_service/Dockerfile
  python/memory_service/PRODUCTION_READINESS_ASSESSMENT.md
  python/memory_service/code_quality_check.py
  python/memory_service/code_quality_report.json
  python/memory_service/comprehensive_verification.py
  python/memory_service/deploy.sh
  python/memory_service/docker-compose.yml
  python/memory_service/example_usage.py
  python/memory_service/init-db.sql
  python/memory_service/production_readiness_report.json
  python/memory_service/requirements.txt
  python/memory_service/src/memory_service/__init__.py
  python/memory_service/src/memory_service/__pycache__/__init__.cpython-310.pyc
  python/memory_service/src/memory_service/__pycache__/models.cpython-310.pyc
  python/memory_service/src/memory_service/adm.py
  python/memory_service/src/memory_service/api.py
  python/memory_service/src/memory_service/dashboard.py
  python/memory_service/src/memory_service/models.py
  python/memory_service/src/memory_service/providers.py
  python/memory_service/src/memory_service/temporal.py
  python/memory_service/src/memory_service/tracking.py
  python/memory_service/src/memory_service/unified_store.py
Due: prettier

feat: Add complete Step 1 production deployment system
  python/memory_service/.env.minimal
  python/memory_service/DOCKER_SETUP_INSTRUCTIONS.md
  python/memory_service/Dockerfile.minimal
  python/memory_service/STEP1_COMPLETE_GUIDE.md
  python/memory_service/STEP1_README.md
  python/memory_service/deployment_readiness_report.json
  python/memory_service/deployment_readiness_report.py
  python/memory_service/docker-compose.minimal.yml
  python/memory_service/docker_install_guide.sh
  python/memory_service/local_deploy_simulation.py
  python/memory_service/mock_database.json
  python/memory_service/src/memory_service/__pycache__/api.cpython-310.pyc
  python/memory_service/src/memory_service/__pycache__/models.cpython-310.pyc
  python/memory_service/src/memory_service/__pycache__/providers.cpython-310.pyc
  python/memory_service/src/memory_service/__pycache__/temporal.cpython-310.pyc
  python/memory_service/src/memory_service/__pycache__/unified_store.cpython-310.pyc
  python/memory_service/src/memory_service/models.py
  python/memory_service/src/memory_service/providers.py
  python/memory_service/step1_deploy.sh
  python/memory_service/step1_local_validation.py
  python/memory_service/step1_validation_report.json
  python/memory_service/validate_step1.py
Due: prettier

feat: Deploy Core Nexus Memory Service to Render.com
  python/memory_service/render_deploy.py
  python/memory_service/render_deployment_report.py
  python/memory_service/render_deployment_report_20250608_020944.json
  python/memory_service/render_simple_deploy.py
Due: prettier

feat: Successfully deploy Core Nexus Memory Service to Render.com
  python/memory_service/RENDER_DEPLOYMENT_SUCCESS.md
Due: prettier

Fix Render.com deployment: remove package-mode for Poetry 1.7.1 compatibility
  pyproject.toml
  python/memory_service/Dockerfile.keepalive
  python/memory_service/keepalive.py
  python/memory_service/render_cron.yaml
  python/memory_service/src/memory_service/api.py
  python/memory_service/src/memory_service/db_monitoring.py
  python/memory_service/src/memory_service/metrics.py
Due: prettier

Production hotfix: temporarily disable graph provider for stable deployment
  python/memory_service/src/memory_service/api.py
Due: none

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$ and not (^(node_modules/|\.yarn/|dist/|build/)) and not ((?x)^(
  \.yarn/.*|
  node_modules/.*|
  \.venv/.*|
  __pycache__/.*|
  \.git/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*|
  dist/.*|
  build/.*|
  \.coverage.*|
  coverage/.*|
  .*\.egg-info/.*
)$)
  prettier: any of: \.(js|jsx|ts|tsx|json|yaml|yml|md)$ and not (^(node_modules/|\.yarn/|dist/|build/|\.git/)) and not ((?x)^(
  \.yarn/.*|
  node_modules/.*|
  \.venv/.*|
  __pycache__/.*|
  \.git/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*|
  dist/.*|
  build/.*|
  \.coverage.*|
  coverage/.*|
  .*\.egg-info/.*
)$)
  typescript-check: any of: \.(ts|tsx)$ and not (^(node_modules/|\.yarn/|dist/|build/)) and not ((?x)^(
  \.yarn/.*|
  node_modules/.*|
  \.venv/.*|
  __pycache__/.*|
  \.git/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*|
  dist/.*|
  build/.*|
  \.coverage.*|
  coverage/.*|
  .*\.egg-info/.*
)$)
